body {
	background-color: #E9EBEE;
}
.card {
	margin-top: 120px;
}
#timeline {
	background-color: #ADD9E6;
	margin-top: 50px;
	margin-left: 90px;
	position: absolute;
	float: right;
}
#form {
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 20px;
	margin-bottom: 60px;
}
#in {
	margin-top: 20px;
}
#btn {
	margin-top: 20px;
}
#post {
	margin-left: 30px;
}
#title {
	margin-left: 10px;
	margin-bottom: 40px;
}
#pos {
	margin-top: 200px;
}
#user_p {
	margin-left: 30px;
}